<%= form_with model: product do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>
  <br>
  <div>
    <%= form.label :product_image, style: "display: block" %>
    <%= form.file_field :product_image, accept: "image/*" %>
  </div>
  <br>
  <div>
    <%= form.label :inventory_count, style: "display: block" %>
    <%= form.number_field :inventory_count %>
  </div>
  <br>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
